@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:app{
    --font-family: 'Mulish', sans-serif; 
    --margin-left : 200px;
    --space-between-nav-links : 40px;
    --title-font-color : #121212;
    --text-font-color : #404852;
    --primary-color : #1EA59A; 
    --quote-background : rgb(185, 150, 206);
}
:root{
    --font-family: 'Mulish', sans-serif; 
    --margin-left : 200px;
    --space-between-nav-links : 40px;
    --nav-links-size : 13px;
    --text-size : 13px;
    --h1-size : 55px;
    --h2-size : 40px;
    --h3-size : 30px;
    --h4-size : 20px;
    --h5-size : 18px;
    --p-size : 15px;
    --text-count-size : 80px;
    --buton-size : 14px;
    --colored-title-size : 14px;
    --title-font-color : #121212;
    --text-font-color : #404852;
    --primary-color : #1EA59A; 
    --quote-background : #5959B3;
    --buuton-color : #FE753E;
    --footer-background : #e7e7e7;
    --global-white:#ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin-left:var(--margin-left);
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}
a:visited{
    color: var(--text-font-color);
}
a:active{
    color: var(--primary-color);
}
a:focus{
    color: var(--primary-color);
}
.footer_list .list_item a:hover{  /* style for footer anchor tags when hover */
    color: var(--primary-color);
 }
 .footer_list a:hover {
    color: var(--primary-color);
}
.footer_section--pink{
    background-color: var(--footer-background);
}
.footer_items--block{ /* style for div holding footer individual div blocks */
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
}
.footer_item{ /* style for each individual  div block with  footer links*/
    margin: 0px 0px 0px 130px;
    width: 25%;
}
.footer_item  h3.heading--logo{  /* style for logo at footer  */
    background:var(--primary-color) ;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-top: 25px;
    color: white;
    font-family: var(--font-family);
}
.footer_item p {
    margin: 20px 0px 0px 0px;
    flex-wrap: wrap;
}
.footer_heading{ /* style for footer heading */
    font-family: var(--font-family);
    color: var(--title-font-color);
    border-bottom: 2px solid var(--primary-color);
}
.footer_list .list_item{  /* style for footer list */
    font-family: var(--font-family);
    color: var(--text-font-color);
    margin: 10px 0px 0px 0px;
}
.footer_list a .list_item--pic{  /* style for footer list with pic */
    font-family: var(--font-family);
    color: var(--text-font-color);
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}
.footer_list a {
    text-decoration: none;
}
.footer_list .list_item a{  /* style for footer anchor tags */
    color: var(--text-font-color);
    font-size: 12px;
 }
/* .image_descriptor--footer{
} */
.copyright_poweredby{ /* style for copyright div */
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    font-size: 12px;
    font-family: var(--font-family);
    color: var(--text-font-color);
}
/* ****************************** end of footer styling ************************ */
/* ****************************** start of header styling ************************ */
.header_section{
    background-color: var(--global-white);
}
.nav_panel{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.nav_list .heading--logo{  /* style for logo at header */
    background:var(--primary-color) ;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 12px;
    font-family: var(--font-family);
}
.nav_list, .login--header{
    display: inherit;
    justify-content: inherit;
}
.list_item a{
    font-family: var(--font-family);
    color: var(--title-font-color);
    font-weight: bold;
    font-size: 14px;
}
.list_item{
    margin: 0px 0px 0px 50px;
    padding: 8px 0px 0px 0px;
}
.main--relative{
    width: 100%;
    margin: 40px 0px 0px 0px;
}
.main--relative img{ /* style for relative div in header */
    position: relative;
    left: 240px;
    border-radius: 10px;
    width: 80%;
}
.temukang_ruang--absolute{
    position:absolute ;
    top: 25%;
    height: 40vh;
}
.temukang_ruang--absolute .temukang_ruang{
    font-family: var(--font-family);
    font-size: 70px;
    color: var(--title-font-color);
    font-weight: bolder;
    text-size-adjust: var(--text-size);
}
.jakarta--orange_button{  /* style for div containing a p tag and  orange button */
    display: flex;
    justify-content: space-between;
    background-color: var(--global-white);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px var(--text-font-color);
    height: 100px;
    margin: 80px 0px 0px 0px;
}
.jakarta{  /* style for p tag containing temukang ruang kerja di */
    color: var(--text-font-color);
    font-family: var(--font-family);
    font-size: 12px;
    padding: 20px 0px 0px 10px;
}
.jakarta span{  /* style for jakarta beside orange button */
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}
.orange_button{   /* style for orange button */
    background-color: var(--buuton-color);
    border-radius: 10px;
    border: none;
    font-size: var(--buton-size);
    font-family: var(--font-family);
    color: var(--global-white);
    width: 200px;
    height: 60px;
    margin: 25px 20px 0px 20px;
}
/* **************** end of style for header and start of style for main ********************** */
